*{
    margin: 0px;
    padding: 0px;
    font-family:'Times New Roman', Times, serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
#gameGrid{
    width: 30%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    position: absolute;
    top: 30%;
    left: 30%;
}
.gridCell{
    background-color: black;
    color: white;
    height: 100px;
    width: 100px;
}